@model  MenuSistem.Models.KategoriUrunViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainLayout.cshtml";
}






<div class="accordion" id="accordionExample">
    @foreach (var ktgr in Model.Kategoriler)
    {
        var urunSayisi = Model.Urunler.Count(u => u.UrunKategori == ktgr.Kategoriid);

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button bg-dark text-white border border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@ktgr.Kategoriid" aria-expanded="true" aria-controls="collapse_@ktgr.Kategoriid">
                    @Html.ActionLink($"{ktgr.KategoriAd} ({urunSayisi} ürün)", "", "Anasayfa", new { id = ktgr.Kategoriid }, new { @class = "category-link", data_category_id = ktgr.Kategoriid, style = "text-decoration: none;" })
                </button>
            </h2>
            <div id="collapse_@ktgr.Kategoriid" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-light text-dark">
                    @foreach (var urn in Model.Urunler.Where(u => u.UrunKategori == ktgr.Kategoriid))
                    {
                        <div class="col-md-3 mb-3">
                            <div class="card">
                                <img src="@urn.UrunGorsel" class="card-img-top" alt="@urn.Urunad">
                                <div class="card-body">
                                    <h5 class="card-title">@urn.Urunad</h5>
                                    <p class="card-text">@urn.UrunDetay</p>
                                    <p class="card-text">Fiyat: @urn.UrunFiyat</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>


